{{>layout/header}}

    <h1>스프링 부트 Start Mustach</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                <!-- 머스테치는 다른언어와 같은 if문(if userName != null등)을 제공하지 않는다. -->
                <!-- true, false만 판단 그래서 항상 최종값을 넘겨줘야 한다-->
                <!-- 여기서도 역시 userName이 있다면 userName을 노출 시키도록 구성 -->
                {{#userName}}
                    Logged in as: <span id="user">{{userName}}</span>
                    <!-- 스프링시큐리티에서 기본적으로 제공하는 로그아웃 URL(Logout) -->
                    <!-- 즉 개발자가 별도로 저 URL에 해당하는 컨트롤러를 만들 필요가 없다. -->
                    <!-- SecurityConfig 클래스에서 URL을 변경할 순 있지만 기본 URL을 사용해도 충분 -->
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/userName}}
                <!-- 머스테치에 해당 값이 존재하지 않는 경우 ^를 사용 -->
                <!--  없다면 로그인 버튼 출력 -->
                {{^userName}}
                    <!-- 스프링 시큐리티에서 기본적으로 제공하는 로그인 URL -->
                    <!-- 로그아웃 URL과 마찬가지로 개발자가 별도의 컨트롤러를 생성할 필요 없다 -->
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
<!--                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>-->
                {{/userName}}
            </div>
        </div>
        <br>
        <!-- 목록영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>

{{>layout/footer}}